<launch>
    <!-- 定义carry_robot节点 -->
    <node name="complete_flow_mm_m" pkg="carry_robot" type="complete_flow_mm_m" output="screen">
        <!-- 定义抓取目标桌面的x坐标 -->
        <param name="grab_desk_x" value="2.05"/>
        <!-- 定义抓取目标桌面的y坐标 -->
        <param name="grab_desk_y" value="0.13"/>

        <!-- 定义放置tag1的x坐标 -->
        <param name="tag_1_put_x" value="2.36"/>
        <!-- 定义放置tag1的y坐标 -->
        <param name="tag_1_put_y" value="2.20"/>

        <!-- 定义放置tag2的x坐标 -->
        <param name="tag_2_put_x" value="1.35"/>
        <!-- 定义放置tag2的y坐标 -->
        <param name="tag_2_put_y" value="2.20"/>

        <!-- 定义左侧放置偏移量 -->
        <param name="offset_left" value="0.15"/>
        <!-- 定义右侧放置偏移量 -->
        <param name="offset_right" value="0.165"/>
    </node>
</launch>
